* {
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
p {
    font-size: 1.1em;
    margin:auto;
}
header {
    background-color: bisque;
    align-content: center;
    border-radius: 10px 10px 0px 0px;
}
.portfolio-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-inline: 3vw;
    gap: 1em;
}
img {
    width: 90%;
    margin-bottom: 5vh;
}
.main-nav {
    display: flex; 
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
    line-height: 2em;
    font-weight: 600;
    gap: 1rem;
    
}
a {
    border: solid 4px rgb(180, 157, 157);
    color: rgb(85, 85, 85);
    text-decoration: none;
    border-radius: 10%;
}
.student {
    text-align: center;
}
.profile {
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-inline: 20px;
 margin-top: 20px;
}
#profile-img {
    max-width: 450px;
}
.bottom-nav {
    display: flex;
    justify-content: space-between;
    border-top: 1px grey solid;
    background-color: bisque;
    border-radius: 0px 0px 10px 10px;
    padding-inline: 20px;
}
#contact {
    text-align: center;
    margin-top: 10vh;
}
.contact p:first-child {
    margin-top: 20px;
    margin-bottom: auto;
}
footer {
    margin-top: 5vh;
}
#portfolio {
    text-align: center;
    margin-top: 10vh;
}
.contact {
    line-height: 3em;
}
.bottom-nav2 {
    display: none;
}
.skills {
    font-family: 'Playfair Display', serif;
    color:rgb(34, 32, 32);
    text-align: center;
    margin-inline: 4vw;
    margin-top: 5vh;
}
.skills p {
    font-size: 1.3em;
    color: rgb(80, 74, 74);
}
@media screen and (min-width: 768px) {
    .main-nav {
        flex-direction: row;
        justify-content: space-around;
        margin-inline: 20vw;
    }
    .profile {
        flex-direction: row;
        align-items: flex-start;
        flex: 1;
    }
    .item2 {
        order: -1;
        margin: 0;
        line-height: 1.3em;
        height: 300px;
        padding-right: 20px;
    }
    #profile-img {
        max-width: 35vw;
    }
    #portfolio {
        margin-top: 3vh;
    }
    .portfolio-items {
        flex-direction: row;
        flex-wrap: wrap;
        flex: 1;
    }
    article {
        max-width: 40vw;
        align-content: space-between;
        margin: auto;
    }
    footer {
        margin-bottom: 80px;
    }
    #to-top {
        display: none;
    }
    .bottom-nav2 {
        display: flex;
        gap: 1em;
    }
}
@media screen and (min-width: 1024px) {
    header {
        display: flex;
        width: 90vw;
        justify-content: space-between;
    }
    .main-nav {
        gap: 2em;
        font-size: 1.2em;
        padding-inline: 20px;
        justify-content: space-between;
        display: inline-flex;
        margin-right: 10vw;
        
    }
    #profile-img {
        margin-right: 4vw;
    }
    .wrapper {
        margin-inline: 3vw;
    }
    article {
        max-width: 27vw;
    }
    .profile {
        margin-left: 4vw;
    }
    .student {
        margin-left: 4vw;
        white-space: nowrap;
    }
    body {
        margin-inline: 1vw;
    }
    #portfolio {
        margin-bottom: 5vh;
    }
}