* {
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
p {
    font-size: 1.1em;
    margin:auto;
}
.portfolio-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-inline: 3vw;
    gap: 1em;
}
img {
    width: 90%;
    margin-bottom: 5vh;
}
.main-nav {
    display: flex; 
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
    line-height: 2em;
    font-weight: 600;
}
a {
    text-decoration: none;
    color: rgb(85, 85, 85);
}
.student {
    text-align: center;
}
.profile {
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-inline: 20px;
 margin-top: 20px;
}
#profile-img {
    max-width: 450px;
}
.bottom-nav {
    display: flex;
    justify-content: space-between;
    border-top: 1px grey solid;
}
#contact {
    text-align: center;
    margin-top: 10vh;
}
.contact p:first-child {
    margin-top: 20px;
    margin-bottom: auto;
}
footer {
    margin-top: 5vh;
}
#portfolio {
    text-align: center;
    margin-top: 10vh;
}
.contact {
    line-height: 3em;
}

@media screen and (min-width: 768px) {
    .main-nav {
        flex-direction: row;
        justify-content: space-around;
        margin-inline: 20vw;
    }
    .profile {
        flex-direction: row;
        align-items: flex-start;
        flex: 1;
    }
    .item2 {
        order: -1;
        margin: 0;
        line-height: 1.3em;
        height: 300px;
        padding-right: 20px;
    }
    #profile-img {
        max-width: 35vw;
    }
    #portfolio {
        margin-top: 3vh;
    }
    .portfolio-items {
        flex-direction: row;
        max-width: 40vw;
        flex-wrap: wrap;
        flex: 1;
    }
}